/* Mention bubbles in the chat input and messages */
.avatar-class-icon.icon-group-forced-white {
	background-image: url(../img/icon-contacts-white.svg);
}

.avatar-class-icon.icon-user-forced-white {
	background-image: url(../img/icon-contacts-white.svg);
}

.app-talk .icon-user,
.talk-modal .icon-user,
.sidebar-callview .icon-user,
#talk-panel .icon-user,
#talk-sidebar .icon-user,
#call-container .icon-user,
.talkChatTab .icon-user {
	background-image: url(../img/icon-user-white.svg);
}

.app-talk .icon-public,
.talk-modal .icon-public,
.sidebar-callview .icon-public,
#talk-panel .icon-public,
#talk-sidebar .icon-public,
#call-container .icon-public,
.talkChatTab .icon-public {
	background-image: url(../img/icon-public-white.svg);
}

.app-talk .icon-contacts,
.talk-modal .icon-contacts,
.sidebar-callview .icon-contacts,
#talk-panel .icon-contacts,
#talk-sidebar .icon-contacts,
#call-container .icon-contacts,
.talkChatTab .icon-contacts {
	background-image: url(../img/icon-contacts-white.svg);
}

.app-talk .icon-phone,
.talk-modal .icon-phone,
.sidebar-callview .icon-phone,
#talk-panel .icon-phone,
#talk-sidebar .icon-phone,
#call-container .icon-phone,
.talkChatTab .icon-phone {
	background-image: url(../img/icon-phone-white.svg);
}

.app-talk .icon-password,
.talk-modal .icon-password,
.sidebar-callview .icon-password,
#talk-panel .icon-password,
#talk-sidebar .icon-password,
#call-container .icon-password,
.talkChatTab .icon-password {
	background-image: url(../img/icon-password-white.svg);
}

.app-talk .icon-file,
.talk-modal .icon-file,
.sidebar-callview .icon-file,
#talk-panel .icon-file,
#talk-sidebar .icon-file,
#call-container .icon-file,
.talkChatTab .icon-file {
	background-image: url(../img/icon-text-white.svg);
}

.app-talk .icon-mail,
.talk-modal .icon-mail,
.sidebar-callview .icon-mail,
#talk-panel .icon-mail,
#talk-sidebar .icon-mail,
#call-container .icon-mail,
.talkChatTab .icon-mail {
	background-image: url(../img/icon-mail-white.svg);
}

.app-talk .icon-team,
.talk-modal .icon-team,
.sidebar-callview .icon-team,
#talk-panel .icon-team,
#talk-sidebar .icon-team,
#call-container .icon-team,
.talkChatTab .icon-team {
	background-image: url(../img/icon-team-white.svg);
}

.app-talk .icon-changelog,
.talk-modal .icon-changelog,
.sidebar-callview .icon-changelog,
#talk-panel .icon-changelog,
#talk-sidebar .icon-changelog,
#call-container .icon-changelog,
.talkChatTab .icon-changelog {
	background-image: url(../img/changelog.svg);
}

/* The tribute panel is a direct child of the body, so it is not affected by
 * .app-Talk rules above.
 * "forced-white" needs to be included in the class name as the Avatar does
 * not accept several classes. */
.user-bubble__avatar .avatar-class-icon.icon-group-forced-white,
.tribute-container .icon-group-forced-white {
	background-color: var(--color-text-maxcontrast-default);
	background-image: url(../img/icon-contacts-white.svg);
	background-size: 75%;
}

.user-bubble__avatar .avatar-class-icon.icon-user-forced-white,
.tribute-container .icon-user-forced-white {
	background-color: var(--color-text-maxcontrast-default);
	background-image: url(../img/icon-user-white.svg);
	background-size: 75%;
}

/* Needed to use white color also in dark mode. */
.app-files .app-sidebar__close.forced-white {
	color: #ffffff;
}

.dashboard-talk-icon {
	background-image: url(../img/app-dark.svg);
	filter: var(--background-invert-if-dark);
}

/* To be used in new conversation / invitation handler dialogs */
.conversation-icon .icon-conversation-group.icon--dark {
	background-image: url('../img/icon-conversation-group-dark.svg')
}

.conversation-icon .icon-conversation-group.icon--bright {
	background-image: url('../img/icon-conversation-group-bright.svg')
}

.conversation-icon .icon-conversation-public.icon--dark {
	background-image: url('../img/icon-conversation-public-dark.svg')
}

.conversation-icon .icon-conversation-public.icon--bright {
	background-image: url('../img/icon-conversation-public-bright.svg')
}

.conversation-icon .icon-conversation-federation.icon--dark {
	background-image: url('../img/icon-conversation-federation-dark.svg')
}

.conversation-icon .icon-conversation-federation.icon--bright {
	background-image: url('../img/icon-conversation-federation-bright.svg')
}
