@include icon-black-white('clip-add-file', 'spreed', 1);
@include icon-black-white('no-password', 'spreed', 1);
@include icon-black-white('share-window', 'spreed', 1);
@include icon-black-white('clip-add-file', 'spreed', 1);
@include icon-black-white('bell-outline', 'spreed', 1);
@include icon-black-white('emoji-smile', 'spreed', 1);
@include icon-black-white('lobby', 'spreed', 1);
@include icon-black-white('text', 'filetypes', 1, true);
@include icon-black-white('promoted-view', 'spreed', 1);
@include icon-black-white('grid-view', 'spreed', 1);
@include icon-black-white('folder-multiple-image', 'spreed', 1);

// Mention bubbles in the chat input and messages
.avatar-class-icon.icon-group-forced-white {
	background-image: url(../img/icon-contacts-white.svg);
}
.avatar-class-icon.icon-user-forced-white {
	background-image: url(../img/icon-contacts-white.svg);
}

.app-talk,
.talk-modal,
.talk-sidebar-callview,
#talk-panel,
#talk-sidebar,
#call-container,
.talkChatTab {
	// We always want to use the white icons, this is why we don't use var(--color-white) here.
	.icon-public {
		background-image: url(icon-color-path('public', 'actions', 'fff', 1, true));
	}
	.icon-contacts {
		background-image: url(icon-color-path('contacts', 'places', 'fff', 1, true));
	}
	.icon-password {
		background-image: url(icon-color-path('password', 'actions', 'fff', 1, true));
	}
	.icon-file {
		background-image: url(icon-color-path('text', 'filetypes', 'fff', 1, true));
	}
	.icon-mail {
		background-image: url(icon-color-path('mail', 'actions', 'fff', 1, true));
	}
	.icon-changelog {
		background-image: url('../img/changelog.svg');
	}

	.forced-white {
		filter: drop-shadow(1px 1px 4px var(--color-box-shadow));

		&.icon-promoted-view {
			background-image: url(icon-color-path('promoted-view', 'spreed', 'fff', 1));
		}
		&.icon-grid-view {
			background-image: url(icon-color-path('toggle-pictures', 'actions', 'fff', 1, true));
		}
	}

	.icon-favorite {
		/* Show favorite icon in yellow instead of default black. */
		@include icon-color('star-dark', 'actions', 'FC0', 1, true);
	}

	.icon-active-call {
		/* Show red camera icon for ongoing calls. */
		@include icon-color('video', 'actions', 'E9322D', 1, true);
	}
}

// The atwho panel is a direct child of the body, so it is not affected by
// .app-Talk rules above.
// "forced-white" needs to be included in the class name as the Avatar does
// not accept several classes.
.talk.candidate-mentions.atwho-panel .icon-group-forced-white {
	background-image: url(../img/icon-contacts-white.svg);
}

// Needed to use white color also in dark mode.
.app-files .app-sidebar__close.forced-white {
	color: #ffffff;
}
