.app-talk .icon-user,
.modal-mask .icon-user,
.talk-sidebar-callview .icon-user,
#talk-panel .icon-user,
#talk-sidebar .icon-user,
#call-container .icon-user,
.talkChatTab .icon-user {
	background-image: url(../img/icon-user-white.svg);
}

.app-talk .icon-public,
.modal-mask .icon-public,
.talk-sidebar-callview .icon-public,
#talk-panel .icon-public,
#talk-sidebar .icon-public,
#call-container .icon-public,
.talkChatTab .icon-public {
	background-image: url(../img/icon-public-white.svg);
}

.app-talk .icon-contacts,
.modal-mask .icon-contacts,
.talk-sidebar-callview .icon-contacts,
#talk-panel .icon-contacts,
#talk-sidebar .icon-contacts,
#call-container .icon-contacts,
.talkChatTab .icon-contacts {
	background-image: url(../img/icon-contacts-white.svg);
}

.app-talk .icon-phone,
.modal-mask .icon-phone,
.talk-sidebar-callview .icon-phone,
#talk-panel .icon-phone,
#talk-sidebar .icon-phone,
#call-container .icon-phone,
.talkChatTab .icon-phone {
	background-image: url(../img/icon-phone-white.svg);
}

.app-talk .icon-password,
.modal-mask .icon-password,
.talk-sidebar-callview .icon-password,
#talk-panel .icon-password,
#talk-sidebar .icon-password,
#call-container .icon-password,
.talkChatTab .icon-password {
	background-image: url(../img/icon-password-white.svg);
}

.app-talk .icon-file,
.modal-mask .icon-file,
.talk-sidebar-callview .icon-file,
#talk-panel .icon-file,
#talk-sidebar .icon-file,
#call-container .icon-file,
.talkChatTab .icon-file {
	background-image: url(../img/icon-text-white.svg);
}

.app-talk .icon-mail,
.modal-mask .icon-mail,
.talk-sidebar-callview .icon-mail,
#talk-panel .icon-mail,
#talk-sidebar .icon-mail,
#call-container .icon-mail,
.talkChatTab .icon-mail {
	background-image: url(../img/icon-mail-white.svg);
}

.app-talk .icon-team,
.modal-mask .icon-team,
.talk-sidebar-callview .icon-team,
#talk-panel .icon-team,
#talk-sidebar .icon-team,
#call-container .icon-team,
.talkChatTab .icon-team {
	background-image: url(../img/icon-team-white.svg);
}

.app-talk .icon-changelog,
.modal-mask .icon-changelog,
.talk-sidebar-callview .icon-changelog,
#talk-panel .icon-changelog,
#talk-sidebar .icon-changelog,
#call-container .icon-changelog,
.talkChatTab .icon-changelog {
	background-image: url(../img/changelog.svg);
}

/* The tribute panel is a direct child of the body, so it is not affected by
 * .app-Talk rules above.
 * "forced-white" needs to be included in the class name as the Avatar does
 * not accept several classes. */
.user-bubble__avatar .icon-group-forced-white,
.user-bubble__avatar .icon-user-forced-white,
.autocomplete-result .icon-group-forced-white,
.autocomplete-result .icon-user-forced-white,
.mention-bubble .icon-group-forced-white,
.mention-bubble .icon-user-forced-white {
	background-color: var(--color-text-maxcontrast-default) !important;
}

body[data-theme-dark] .icon-group-forced-white,
body[data-theme-dark] .icon-user-forced-white {
	background-color: #3B3B3B !important;
}

.user-bubble__avatar .icon-group-forced-white,
.user-bubble__avatar .icon-user-forced-white {
	background-size: 75%;
}

.autocomplete-result .icon-group-forced-white.autocomplete-result__icon--,
.autocomplete-result .icon-user-forced-white.autocomplete-result__icon--,
.mention-bubble .icon-group-forced-white.mention-bubble__icon--,
.mention-bubble .icon-user-forced-white.mention-bubble__icon-- {
	background-size: 50% !important;
}

.user-bubble__avatar .icon-user-forced-white,
.autocomplete-result .icon-user-forced-white.autocomplete-result__icon--,
.mention-bubble .icon-user-forced-white.mention-bubble__icon-- {
	background-image: url(../img/icon-user-white.svg);
}

.user-bubble__avatar .icon-group-forced-white,
.autocomplete-result .icon-group-forced-white.autocomplete-result__icon--,
.mention-bubble .icon-group-forced-white.mention-bubble__icon-- {
	background-image: url(../img/icon-contacts-white.svg);
}

/* Needed to use white color also in dark mode. */
.app-files .app-sidebar__close.forced-white {
	color: #ffffff;
}

.dashboard-talk-icon {
	background-image: url(../img/app-dark.svg);
	filter: var(--background-invert-if-dark);
}

/* To be used in new conversation / invitation handler dialogs */
.conversation-icon .icon-conversation-group.icon--dark {
	background-image: url('../img/icon-conversation-group-dark.svg')
}

.conversation-icon .icon-conversation-group.icon--bright {
	background-image: url('../img/icon-conversation-group-bright.svg')
}

.conversation-icon .icon-conversation-public.icon--dark {
	background-image: url('../img/icon-conversation-public-dark.svg')
}

.conversation-icon .icon-conversation-public.icon--bright {
	background-image: url('../img/icon-conversation-public-bright.svg')
}

.conversation-icon .icon-conversation-federation.icon--dark {
	background-image: url('../img/icon-conversation-federation-dark.svg')
}

.conversation-icon .icon-conversation-federation.icon--bright {
	background-image: url('../img/icon-conversation-federation-bright.svg')
}
