@include icon-black-white('reply', 'spreed', 1);
@include icon-black-white('clip-add-file', 'spreed', 1);
@include icon-black-white('menu-people', 'spreed', 1);
@include icon-black-white('no-password', 'spreed', 1);
@include icon-black-white('share-window', 'spreed', 1);
@include icon-black-white('clip-add-file', 'spreed', 1);
@include icon-black-white('bell-outline', 'spreed', 1);
@include icon-black-white('emoji-smile', 'spreed', 1);
@include icon-black-white('lobby', 'spreed', 1);
@include icon-black-white('text', 'filetypes', 1, true);

.app-Talk,
.talk-modal,
#talk-sidebar,
#call-container,
.talkChatTab {
	// We always want to use the white icons, this is why we don't use var(--color-white) here.
	.icon-public {
		background-image: url(icon-color-path('public', 'actions', 'fff', 1, true));
	}
	.icon-contacts {
		background-image: url(icon-color-path('contacts', 'places', 'fff', 1, true));
	}
	.icon-password {
		background-image: url(icon-color-path('password', 'actions', 'fff', 1, true));
	}
	.icon-file {
		background-image: url(icon-color-path('text', 'filetypes', 'fff', 1, true));
	}
	.icon-mail {
		background-image: url(icon-color-path('mail', 'actions', 'fff', 1, true));
	}
	.icon-changelog {
		background-image: url('../img/changelog.svg');
	}

	// "forced-white" needs to be included in the class name as the UserBubble
	// does not accept several classes.
	.icon-group-forced-white {
		background-image: url(icon-color-path('group', 'actions', 'fff', 1, true));
	}
	.icon-user-forced-white {
		background-image: url(icon-color-path('user', 'actions', 'fff', 1, true));
	}

	.forced-white {
		&.icon-menu-people {
			background-image: url(icon-color-path('menu-people', 'spreed', 'fff', 1));
		}
		&.icon-fullscreen {
			background-image: url(icon-color-path('fullscreen', 'actions', 'fff', 1, true));
		}
		&.icon-audio {
			background-image: url(icon-color-path('audio', 'actions', 'fff', 1, true));
		}
		&.icon-audio-off {
			background-image: url(icon-color-path('audio-off', 'actions', 'fff', 1, true));
		}
		&.icon-video {
			background-image: url(icon-color-path('video', 'actions', 'fff', 1, true));
		}
		&.icon-video-off {
			background-image: url(icon-color-path('video-off', 'actions', 'fff', 1, true));
		}
		&.icon-screen {
			background-image: url(icon-color-path('screen', 'actions', 'fff', 1, true));
		}
		&.icon-screen-off {
			background-image: url(icon-color-path('screen-off', 'actions', 'fff', 1, true));
		}
	}

	.icon-favorite {
		/* Show favorite icon in yellow instead of default black. */
		@include icon-color('star-dark', 'actions', 'FC0', 1, true);
	}

	.icon-active-call {
		/* Show red camera icon for ongoing calls. */
		@include icon-color('video', 'actions', 'E9322D', 1, true);
	}

	.icon-start-call,
	.icon-incoming-call {
		@include icon-color('video', 'actions', $color-primary-text, 1, true);
	}

	.icon-leave-call {
		@include icon-color('video-off', 'actions', $color-primary-text, 1, true);
	}

	.icon-delete-critical {
		@include icon-color('delete', 'actions', $color-error, 1, true);
		&:hover,
		&:focus {
			filter: initial;
		}
	}
}

// The atwho panel is a direct child of the body, so it is not affected by
// .app-Talk rules above.
.talk.candidate-mentions.atwho-panel {
	// "forced-white" needs to be included in the class name as the Avatar does
	// not accept several classes.
	.icon-group-forced-white {
		background-image: url(icon-color-path('group', 'actions', 'fff', 1, true));
	}
}

.app-files {
	// Needed to use white color also in dark mode.
	.app-sidebar__close.forced-white {
		background-image: url(icon-color-path('close', 'actions', 'fff', 1, true));
	}
}
