/**
 * SPDX-FileCopyrightText: 2023 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

/* Special layout to include the Talk sidebar */


/* Overwrites styles from public.scss in public share after re-parenting footer */
#body-public {
   --footer-height: 0 !important;
}

#content.full-height {
	/* Always full height without header. */
	height: calc(100% - 50px);
}

#content {
	display: flex;
	flex-direction: row;
	overflow: hidden;

	flex-grow: 1;

	/* Override "min-height: 100%" and "padding-top: 50px" set in server, as the
	 * header is part of the flex layout and thus the whole body is not
	 * available for the content. */
	min-height: 0;
	padding-top: 0;
}

#app-content {
	position: relative;

	display: flex;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;

	flex-grow: 1;

	margin-right: 0;
}

#files-public-content {
	flex-grow: 1;
}

#content footer {
	position: relative;
}

#content footer p a {
	/* The server sets an height to the footer of 65px, but its contents are
	 * slightly larger, which causes a scroll bar to be added to the content
	 * even if there is enough space for the app content and the footer.
	 * The padding of links is 10px, so in practice reducing the bottom padding
	 * only affects the bottom padding of the last element (as in adjacent
	 * paragraphs the paddings would get merged and there will still be 10px
	 * from the top padding of the second element). */
	padding-bottom: 8px;
}
