#body-public {
	height: 100%;
}

.app-spreed #app-content {
    overflow: hidden;
}

.app-spreed #app-navigation {
	padding-top: 46px;
	padding-bottom: 0;
}

#oca-spreedme-add-room {
	position: absolute;
	width: 249px;
	top: 0;
	border-bottom: 1px solid #eee;
}

.oca-spreedme-add-person {
	width: 225px;
	top: 0;
	border-bottom: 1px solid #eee;
}

/**
 * Sidebar styles
 */

#select2-drop {
	margin-top: -44px !important;
}
#oca-spreedme-add-room .select2-container,
.oca-spreedme-add-person .select2-container {
	width: 100%;
	margin: 0 !important;
	border: none;
	padding: 9px;
}
#oca-spreedme-add-room .select2-container .select2-choice,
.oca-spreedme-add-person .select2-container .select2-choice {
    border: none;
}
#oca-spreedme-add-room .select2-arrow,
.oca-spreedme-add-person .select2-arrow {
	display: none !important;
}
#select2-drop .select2-search input {
	padding: 13px 12px 13px 43px !important;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: none;
	background-image: none !important;
}
#select2-drop .select2-results .select2-result {
	padding: 0;
}

.app-navigation-entry-menu li {
	display: block !important;
}

#app-navigation .avatar,
#app-navigation .icon-contacts-dark,
#app-navigation .app-navigation-entry-link .icon-public {
	position: absolute;
	left: 6px;
	top: 6px;
}
#app-navigation .icon-contacts-dark,
#app-navigation .app-navigation-entry-link .icon-public,
.icon-add  {
	background-color: transparent !important;
	color: transparent !important;
	border-radius: 0;
	width: 32px;
	height: 32px;
}

#oca-spreedme-add-room button {
	position: absolute;
	background-color: transparent;
	border: none;
	right: 0;
	top: 0;
	padding: 23px;
	margin: 0;
	opacity: .3;
}

.public-room {
	display: block !important;
}

.private-room,
.hidden-important {
	display: none !important;
}

.icon-clippy.public-room {
    background-size: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 16px;
}

.icon-delete.public-room {
    background-size: 16px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px;
	opacity: .5;
}

.rename-input {
	margin-top: 0px !important;
	margin-bottom: 4px !important;
}

.icon-confirm.rename-confirm {
	background-size: 16px;
	background-color: transparent;
	border: none;
	position: absolute;
	right: -5px;
	top: 38px;
	padding: 16px;
	opacity: .5;
}

.icon-confirm.rename-confirm:hover  {
	opacity: 1;
}


#videos {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-align-items: flex-end;
	align-items: flex-end;
}

.videoContainer {
	position: relative;
	width: 100%;
    padding: 0 2%;
	-webkit-box-flex: auto;
	-moz-box-flex: auto;
	-webkit-flex: auto;
	-ms-flex: auto;
	flex: auto;
	z-index: 2;
}

video {
	width: 100%;
	z-index: 0;
	max-height: 100%;
	/* default filter for slightly better look */
	-webkit-filter: contrast(1.1) saturate(1.1) sepia(.1);
	filter: contrast(1.1) saturate(1.1) sepia(.1);
	vertical-align: top; /* fix white line below video */
}

#videos .videoContainer video {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
	background-color: #000;
}
#videos .videoContainer.promoted video {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#videos .videoContainer video,
#videos .videoContainer .avatar {
	box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

.participants-1 #videos .videoContainer video,
.participants-2 #videos .videoContainer video {
	padding: 0;
}

.videoContainer .avatar-container {
	position: absolute;
	text-align: center;
	bottom: 44px;
	width: 100%;
}
.videoContainer .avatar-container .avatar {
	display: inline-block;
}
.videoContainer.promoted .avatar-container {
	top: 30%;
}
.videoContainer.promoted .avatar-container + .nameIndicator {
	display: none;
}

#emptycontent {
	position: absolute;
	z-index: 40;
}

#emptycontent-icon {
	width: 128px;
	margin: 0 auto;
	padding-bottom: 20px;
}


#shareRoomContainer {
	position: relative;
}
#shareRoomInput {
	width: 250px;
	padding-right: 32px;
	text-overflow: ellipsis;
}
#shareRoomClipboardButton {
	position: absolute;
	right: 0;
	padding: 18px;
	background-size: 16px !important;
	height: 16px !important;
	width: 16px !important;
	margin: 0 !important;
	opacity: .8 !important;
}

.participants-1 #emptycontent {
	display: block !important;
}

/* big speaker video */
.participants-1 .videoContainer,
.participants-2 .videoContainer,
.videoContainer.promoted {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	left: 0;
	top: 0;
	z-index: 1;
}
.videoContainer.promoted video,
.participants-2 .videoContainer:not(.videoView) video {
	position: absolute;
	width: initial;
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
}

/* own video */
.participants-1 .videoView,
.participants-2 .videoView {
	position: absolute;
	width: 33%;
	min-width: 200px;
	right: 0;
	bottom: 0;
	top: initial;
	left: initial;
	z-index: 10;
}
.participants-1 .videoView video,
.participants-2 .videoView video {
	position: absolute;
	bottom: 0;
	border-top-right-radius: 3px;
}

#app-content.participants-2,
#app-content.participants-3,
#app-content.participants-4,
#app-content.participants-5,
#app-content.participants-6,
#app-content.participants-7,
#app-content.participants-8,
#app-content.participants-9,
#app-content.participants-10 {
	background-color: #000;
}

.nameIndicator {
	position: absolute;
	bottom: 0;
	padding: 12px;
	color: #fff;
	text-shadow: 3px 3px 10px rgba(0, 0, 0, .5), 3px -3px 10px rgba(0, 0, 0, .5), -3px 3px 10px rgba(0, 0, 0, .5), -3px -3px 10px rgba(0, 0, 0, .5);
	width: 85%;
	text-align: center;
	font-size: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.videoView .nameIndicator {
	width: 100%;
	padding: 0;
}
/* ellipsize name in 1on1 calls */
.participants-2 .videoContainer.promoted + .videoContainer-dummy .nameIndicator {
	padding: 12px 35%;
}

.nameIndicator button {
	background-color: transparent;
	border: none;
	width: 44px;
	height: 44px;
	background-size: 25px;
}
.nameIndicator button.audio-disabled,
.nameIndicator button.video-disabled {
	opacity: .7;
}

.muteIndicator {
	position: absolute;
	width: 85%;
	bottom: 44px;
	background-size: 22px;
	padding: 12px;
	opacity: .7;
}

#app-content:-webkit-full-screen  {
	width: 100%;
}
#app-content:-moz-full-screen {
	width: 100%;
}
#app-content:-ms-fullscreen {
	width: 100%;
}
#app-content:fullscreen {
	width: 100%;
}
#app-content:-webkit-full-screen #app-navigation-toggle {
	display: none !important;
}
#app-content:-moz-full-screen #app-navigation-toggle {
	display: none !important;
}
#app-content:-ms-fullscreen #app-navigation-toggle {
	display: none !important;
}
#app-content:fullscreen #app-navigation-toggle {
	display: none !important;
}

.localmediaerror h2 {
	color: red;
	font-weight: bold;
}

.localmediaerror .uploadmessage {
	display: none;
}

#app-navigation li > a {
    padding-right: 44px !important;
}
#app-navigation .utils {
	padding: 0;
}
#app-navigation .utils .action {
	display: inline-block;
	padding: 22px;
	cursor: pointer;
	opacity: .3;
}

.bubble,
#app-navigation .app-navigation-entry-menu {
    right: 4px;
}

#app-navigation .app-navigation-entry-menu li {
	width: auto !important;
	float: inherit;
}

#app-navigation .app-navigation-entry-menu li button {
	float: inherit !important;
	margin: 0;
	padding: 0;
	width: 100% !important;
}

#app-navigation .app-navigation-entry-menu input {
	margin-left: 5px !important;
	margin-top: -5px;
	padding-right: 22px;
	text-overflow: ellipsis;
	overflow: hidden;
}

#app-navigation .app-navigation-entry-menu li span {
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding-right: 10px;
	font-weight: 400;
	float: left;
}

#app-navigation .app-navigation-entry-menu li span[class^='icon-'],
#app-navigation .app-navigation-entry-menu li span[class*=' icon-'] {
	padding: 16px;
	box-sizing: border-box;
}

#app-navigation .app-navigation-entry-utils-menu-button {
	display: inline-block;
}

#videos .videoContainer.speaking:not(.videoView) .nameIndicator,
#videos .videoContainer.videoView.speaking .nameIndicator .icon-audio-white {
	animation: pulse 1s;
	animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: .3;
	}
	100% {
		opacity: 1;
	}
}

#nextcloud {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    padding-bottom: 0;
    height: 45px;
    opacity: 1;
}

#guestName {
    padding: 7px 30px 6px 10px;
    cursor: pointer;
}

#guestName:hover {
	color: #fff;
}

#guestNameInput {
    margin-top: 7px;
    margin-right: -10px;
    padding-right: 22px;
}

#guestNameConfirm {
	position: relative;
	height: 20px;
	right: 12px;
	line-height: 14px;
	background-color: transparent;
	border: none;
	opacity: .5;
}

#guestNameConfirm:hover {
	opacity: 1;
}

/* make blue header bar transparent in shared room */
#body-public #app-content:not(.participants-1) #header.spreed-public {
	background: transparent;
}
