video {
	width: 100%;
	z-index: 0;
	max-height: 100%;
}

.participants-1 .videoView,
.videoContainer {
	position: relative;
	width: 50%;
	float: left;
	border-radius: none;
}

.videoView {
	position: absolute;
	width: 33%;
	right: 20px;
	bottom: 20px;
	z-index: 10;
}
.videoView video {
	border-radius: 3px;
}

#app-content.participants-2 {
	background-color: #000;
}
.participants-2 .videoContainer {
	position: absolute;
	width: 100%;
	height: 100%;
}

.nameIndicator {
	position: absolute;
	bottom: 5%;
	z-index: 5;
	color: #fff;
	width: 100%;
	text-align: center;
	font-size: 16px;
}

.nameIndicator button {
	background-color: transparent;
	border: none;
	width: 44px;
	height: 44px;
	background-size: 25px;
}
.nameIndicator button.audio-disabled,
.nameIndicator button.video-disabled {
	opacity: .5;
}
