# Exclude npm stuff
build
node_modules

# Compiled JS
/js/admin/*.js
/js/admin/*.js.map
/js/collections.js
/js/collectionsintegration.js
/js/*.js.map

# Karma/jasmine coverage data
coverage
tests/php/coverage-html
tests/php/clover.xml
tests/integration/vendor
tests/integration/output
