# Exclude npm stuff
/build
/node_modules

# PHP Code Sniffer
/vendor
/vendor-bin/csfixer/vendor
/vendor-bin/phpunit/vendor
/vendor-bin/psalm/vendor
/.php-cs-fixer.cache

# Local docs
/site

# Karma/jasmine coverage data
/coverage
/tests/php/coverage-html
/tests/php/clover.xml
/tests/php/.phpunit.result.cache
/tests/integration/vendor
/tests/integration/output

# Compiled javascript
/js

# VScode settings
.vscode
