# SPDX-FileCopyrightText: 2019 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: CC0-1.0
/js/*.js binary
/js/*.js.map binary
/openapi*.json binary
/src/types/openapi/openapi*.ts binary
/src/types/openapi/openapi-full.ts text diff
/openapi-full.json text diff
