<span class="atwho-inserted" contenteditable="false">
	<span class="mention-user avatar-name-wrapper {{#if isCurrentUser}}currentUser{{/if}}">
		<span class="avatar"
				data-user-id="{{id}}"
				data-user-display-name="{{name}}">
		</span>
		<strong>{{name}}</strong>
	</span>
</span>
