<div id="app-sidebar-trigger" class="icon-menu-people force-icon-white-in-call icon-shadow">
</div>
<div id="app-sidebar" class="detailsView">
	<div class="detailCallInfoContainer">
	</div>
	<div class="tabs">
	</div>
	<a class="close icon-close" href="#"><span class="hidden-visually">{{closeLabel}}</span></a>
</div>
