<div class="avatar-container">
	<div class="avatar"></div>
</div>
<div class="nameIndicator"></div>
<div class="mediaIndicator">
	<button class="muteIndicator force-icon-white-in-call icon-shadow icon-audio-off audio-on" disabled="true"/>
	<button class="hideRemoteVideo force-icon-white-in-call icon-shadow icon-video"/>
	<button class="screensharingIndicator force-icon-white-in-call icon-shadow icon-screen screen-off"/>
	<button class="iceFailedIndicator force-icon-white-in-call icon-shadow icon-error not-failed" disabled="true"/>
</div>
