/**
 * SPDX-FileCopyrightText: 2023 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

/* Special layout to include the Talk sidebar */

/* The original style of the body is kept until the layout has been adjusted to
 * include the Talk sidebar. If only "#body-login" was used, immediately after
 * load and before the sidebar was injected the original elements would be using
 * the style for the adjusted layout, which is not the proper one for them, and
 * this would cause the elements to "jump" to their final position once the
 * layout was adjusted. */
body.talk-sidebar-enabled {
	/* Move rules set for body by guest.scss to the wrapped body. */
	flex-direction: row;
	height: 100vh;
}

body.talk-sidebar-enabled #body-login {
	display: flex;
	justify-content: center;

	background-position: 50% 50%;
	background-repeat: repeat;
	background-size: 275px, contain;
	background-attachment: fixed;

	width: 100%;
	height: 100%;

	/* Changed from guest.scss. */
	flex-direction: row;
	align-items: stretch;
}

/* #body-login should be used to override the #content rules set in server. */
#body-login #content {
	position: relative;

	flex-grow: 1;

	flex-direction: column;
	align-items: center;

	height: auto;

	overflow-x: hidden;

	/* Override "padding-top: 50px" set in server. */
	padding-top: 0;
}
