/**
 * SPDX-FileCopyrightText: 2019 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

/** Messages list dimensions:
 * - text max width: 70em (recommended by W3C standard) = 1050px
 * - utils-width: 52px (group avatar with paddings) + 120px (date and checkmark) + 4*4px (date paddings) = 188px
 * - list max width: text width + utils width + 4 + 8 (paddings) = 1250px
 */
$messages-text-max-width: calc(70 * var(--default-font-size));
$message-utils-width: calc(52px + 4 * var(--default-grid-baseline) + 120px);
$messages-list-max-width: calc($messages-text-max-width + $message-utils-width + 3 * var(--default-grid-baseline));

// background color of call container
$color-call-background: rgba(34, 34, 34, 0.8);

// transition
$transition-duration-quick: var(--animation-quick, 100ms);
$transition-duration-slow: var(--animation-slow, 300ms);

$transition: all $transition-duration-quick ease-in-out;
$transition-slow: all $transition-duration-slow ease-in-out;
