name: Static analysis

on:
  pull_request:

jobs:
  static-analysis:
    runs-on: ubuntu-latest

    name: Nextcloud ${{ matrix.ocp-version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up php
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4
          coverage: none

      - name: Install dependencies
        run: composer i

      - name: Run coding standards check
        run: composer run psalm
