<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 bootstrap="bootstrap.php"
		 timeoutForSmallTests="900"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900"
		 failOnDeprecation="true"
		 failOnIncomplete="true"
		 failOnRisky="true"
		 failOnWarning="true"
		 failOnEmptyTestSuite="true"
		 failOnNotice="true"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
		 cacheDirectory=".phpunit.result.cache">
	<testsuite name="Talk App Tests">
		<directory>.</directory>
	</testsuite>
	<logging>
	</logging>
	<source>
		<include>
			<directory>../../../spreed/appinfo</directory>
			<directory>../../../spreed/lib</directory>
		</include>
	</source>
</phpunit>
